<% if current_user %>
<% if current_user.admin%>

<div class="container-fluid">
		<h1>Management.</h1>

  <div class="row-fluid">
    <div class="span2">
        <div class='well'>
   <ul class="nav nav-list">
  <li class="nav-header">
    Board
  </li>
    <li>
      <%= link_to "Boards", :controller => 'management', :action => :boards %>
</li>
  <li class="divider"></li>

  <li class="nav-header">
    ETC
  </li>
  <li>
      <%= link_to "Users", :controller => 'management', :action => :users %>
</li>
  <li>
      <%= link_to "Plugins", :controller => 'management', :action => :plugins %>

</li>
  <li>
      <%= link_to "Themes", :controller => 'management', :action => :themes %>
</li>


</ul>
        </div>
    </div>
    <div class="span10">
      <!--Body content-->
            <table class='table table-bordered table-condensed'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Admin</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.admin %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>

	<% else %>
	You are not admin
<% end %>
<% else %>
Please log-in
<%= render :template => 'sessions/new' %>
<% end %>